* {
	margin: 0;
	padding: 0;
}
a {
	display: inline-block;
	width: 190px;
	padding: 15px;
	text-decoration: none;
	color: #89af1e;
	transition: 0.8s;
}
a:hover {
	color: #647c1d;
	transition: 0.8s;
}
small { font-size: 12px; }
